{% extends '::atlas-base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <!-- Pannel -->
	<div class="row" id="map-content">
		
		<div class="col-xs-12 col-md-12">
			<h1>{{ resource.name }}</h1>
			<h2>{{ resource.type }}</h2>
		</div>

	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}